@{
    ViewBag.Title = "Điểm danh thành công";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Hinh/HinhGym/breadcum1.png">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">

                    <div class="bt-option">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<h2>Điểm danh thành công</h2>
<p>Bạn đã điểm danh thành công. Chúng tôi đã gửi thông báo đến huấn luyện viên của bạn.</p>