@model toanggg.Data.GymType

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutDashBoard";
}

<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Đăng ký loại phòng tập</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post" data-toggle="validator" enctype="multipart/form-data">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Tên phòng tập</label>
                                    <input asp-for="Name" class="form-control" placeholder="Nhập tên phòng tập" data-errors="Vui lòng nhập tên phòng tập." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Mô tả</label>
                                    <input asp-for="Description" class="form-control" placeholder="Nhập mô tả" data-errors="Vui lòng nhập mô tả huấn luyện viên." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary mr-2">Đăng ký</button>
                                    <div type="submit" class="btn mr-2">
                                        <a asp-action="Index">Trở về danh sách</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
