@model toanggg.Data.Trainer

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutDashBoard";
}

<div class="container-fluid edit-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Chỉnh sửa thông tin huấn luyện viên</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post" data-toggle="validator" enctype="multipart/form-data">
                        <div class="row">
                            <input type="hidden" asp-for="TrainerId" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FullName" class="control-label">Họ tên</label>
                                    <input asp-for="FullName" class="form-control" placeholder="Nhập họ tên" data-errors="Vui lòng nhập đầy đủ họ tên." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="Nhập số điện thoại" data-errors="Vui lòng nhập số điện thoại." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label">Email</label>
                                    <input asp-for="Email" class="form-control" placeholder="Nhập địa chỉ email" data-errors="Vui lòng nhập địa chỉ email." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Mô tả</label>
                                    <input asp-for="Description" class="form-control" placeholder="Nhập mô tả" data-errors="Vui lòng nhập mô tả huấn luyện viên." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Expertise" class="control-label">Chuyên môn</label>
                                    <input asp-for="Expertise" class="form-control" placeholder="Nhập chuyên môn" data-errors="Vui lòng nhập chuyên môn của huấn luyện viên." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label">Trạng thái</label>
                                    <input asp-for="Status" class="form-control" placeholder="Nhập trạng thái" data-errors="Vui lòng nhập trạng thái của huấn luyện viên." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="GymId" class="control-label">Chi nhánh</label>
                                    <select asp-for="GymId" class="form-control" asp-items="ViewBag.GymId"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*  <div class="form-group">
                                <label asp-for="UserId" class="control-label">UserId ?</label>
                                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                </div> *@
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary mr-2">Cập nhật thông tin</button>
                                    <div type="submit" class="btn mr-2">
                                        <a asp-action="Index">Trở về danh sách</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


