        <!-- Gallery Section Begin -->
<div class="gallery-section">
    <div class="gallery">
        <div class="grid-sizer"></div>
        <div class="gs-item grid-wide set-bg" data-setbg="/img/gallery/hinh-1.jpg">
            <a href="/img/gallery/hinh-1.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="/img/gallery/hinh-2.jpg">
            <a href="/img/gallery/hinh-2.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="/img/gallery/hinh-3.jpg">
            <a href="/img/gallery/hinh-3.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="/img/gallery/hinh-4.jpg">
            <a href="/img/gallery/hinh-4.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="/img/gallery/hinh-5.jpg">
            <a href="/img/gallery/hinh-5.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item grid-wide set-bg" data-setbg="/img/gallery/hinh-6.jpg">
            <a href="/img/gallery/hinh-6.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>
<!-- Gallery Section End -->