<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/img/hero/hinh-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>
                                Định hình cơ thể của bạn
                            </span>
                            <h1>Luyện tập cường độ cao để trở nên <strong>mạnh mẽ</strong></h1>
                            <a asp-area="" asp-controller="Users" asp-action="DangKy" class="primary-btn">Đăng ký ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="/img/hero/hinh-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>
                                Định hình cơ thể của bạn
                            </span>
                            <h1>Luyện tập cường độ cao để trở nên <strong>mạnh mẽ</strong></h1>
                            <a asp-area="" asp-controller="Users" asp-action="DangKy" class="primary-btn">Đăng ký ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->